* {
  padding: 0;
  margin: 0;
}

#root {
  margin: 0 auto;
  text-align: center;
  background-color: lightgray;
}

label {
  display: flex;
  flex-direction: column;
  text-align: start;
}

input {
  height: 30px;
  padding: 4px;
  font-size: 20px;
  border-radius: 10px;
}

